{% extends 'generic/object_edit.html' %}
{% load static %}
{% load form_helpers %}
{% load helpers %}

{% block form %}
    {% block pre_form %}{% endblock %}
    <div class="panel panel-default">
        <div class="panel-heading"><strong>Attributes</strong></div>
        <div class="panel-body">
            {% render_field form.software %}
            {% render_field form.device_types %}
            {% render_field form.devices %}
            {% render_field form.inventory_items %}
            {% render_field form.roles %}
            {% render_field form.start %}
            {% render_field form.end %}
            {% render_field form.preferred %}
        </div>
    </div>
    {% include 'inc/extras_features_edit_form_fields.html' %}
{% endblock %}
